:root {
  font-size: 62.5%;
  --grayscale-50: #f8f8f8;
  --grayscale-100: #eaeaea;
  --grayscale-200: #d8d8d8;
  --grayscale-300: #bababa;
  --grayscale-400: #aaaaaa;
  --grayscale-500: #9b9b9b;
  --grayscale-600: #666666;
  --grayscale-700: #565656;
  --grayscale-800: #474747;
  --grayscale-900: #2d2d2d;
  --grayscale-1000: #1e1e1e;
  --grayscale-1100: #101010;
}

body {
  font-family: monospace;
  font-size: 1.8rem;
  line-height: 1.6;
  max-width: 38em;
  margin: auto;
  color: var(--grayscale-200);
  background-color: var(--grayscale-1100);
}

input,
textarea,
select {
    font-family: monospace;
    font-size: 90%;
    color: var(--grayscale-300);
    background-color: var(--grayscale-1100);
    border: 1px solid var(--grayscale-900);
}
input:focus {
    outline: none;
    color: var(--grayscale-200);
    background-color: var(--grayscale-1000);
    border-color: var(--grayscale-800);
}

button {
    font-family: monospace;
    font-size: 90%;
    color: var(--grayscale-200);
    background-color: var(--grayscale-1000);
    border: 1px solid var(--grayscale-800);
}
button:hover {
    color: var(--grayscale-100);
    background-color: var(--grayscale-900);
    border-color: var(--grayscale-700);
}
